main {
  margin: 2rem;
}

.container {
  max-width: 500px;
}

.calc-display {
  padding: 0 16px;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4rem;
  border: 1px solid #000;
  background: #646E78;
  color: #fff;
}

.input-button {
  height: 64px;
  width: 25%;
  margin: 0;
  border-radius: 0;
  background: #001011;
  border: 1px solid #002629;
}

.input-button:hover{
  border: 1px solid #646E78;
  background: #646E78;
}

.accent {
  background: #E98A15;
  border: 1px solid #E18514;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.input-collection {
  display: flex;
  flex-wrap: wrap;
}